<%= bootstrap_form_for(@menu, layout: :horizontal, :html => { class: 'pjax-form' }) do |f| %>
    <div class="form-group">
      <%= f.label :等级, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <select class="form-control" name="menu[resource_type]" id="resource_type">
          <option value="two_level" <% if @menu.two_level? %>selected="selected"<% end %>>二级菜单</option>
          <option value="one_level" <% if @menu.one_level? %>selected="selected"<% end %>>一级菜单</option>
        </select>
      </div>
    </div>
    <div id="parant">
      <%= f.collection_select(:parent_id, parents_menus, :id, :name, label: "上级") %>
    </div>
    <%= f.text_field :name, label: "名称" %>
    <%= f.text_field :source, label: "地址" %>
    <%= f.text_field :desc, label: "备注" %>
    <%= f.select :icon_id, all_icons, { label: ""}, {class:"form-control m-b"}%>
    <div class="form-group text-center">
      <%= link_to '取消', menus_path, :class => 'btn btn-default' %>
      <%= f.submit "保存", class: "btn btn-primary" %>
    </div>
<% end %>
<script>
  $(function () {
    $("#resource_type").change(function(){
      if($(this).val() == "one_level"){
        $('#parant').hide();
        $("#menu_source").attr("disabled",true);
      }else{
        $('#parant').show();
        $("#menu_source").attr("disabled",false);
      }
    })
  })
</script>