<%= bootstrap_form_for(@user, layout: :horizontal, :html => { class: 'pjax-form' }) do |f| %>
    <%= f.text_field :email, label: "电子邮箱" %>
    <%= f.text_field :name, label: "姓名" %>
    <%= f.password_field :password, label: "密码" %>
    <%= f.collection_check_boxes :role_ids, all_role, :id, :desc, label: "角色", inline: true %>
    <div class="form-group text-center">
      <%= link_to '取消', users_path, :class => 'btn btn-default' %>
      <%= f.submit "保存", class: "btn btn-primary" %>
    </div>
<% end %>