<% provide(:title, '主页信息') %>
<div class="panel col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <div class="col-md-3 home-task">
    <div style="text-align: center; line-height: 20px"><%= params[:passed].nil? ? "我的待办" : (link_to '我的待办', home_index_path) %> | <%= params[:passed].present? ? "我的已办" : (link_to "我的已办", home_index_path(passed: true)) %></div>
    <hr style="background-color: #adadad">
    <% if @tasks.present? %>
        <table>
          <% @tasks.each do |task| %>
              <tr>
                <td class="col-md-9"><%= abbr_name(task.flow&.menu&.name + "|" + task.flow&.name) %></td>
                <td class="col-md-3">
                  <% case task.flow&.menu_id %>
                  <% when Menu.where(source: '/refunds')[0][:id] %>
                      <%= link_to '追踪', refunds_path('q[car_car_no_cont]': Refund.where(flow_id: task.flow&.id)[0]&.car&.car_no, 'q[id_eq]': Refund.where(flow_id: task.flow&.id)[0]&.id) %>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
        <div class="home-task-paginate">
          <%= paginate @tasks %>
        </div>
    <% elsif @passed_tasks.present? %>
        <table>
          <% @passed_tasks.each do |task| %>
              <tr>
                <td class="col-md-9"><%= abbr_name((Task.find(9).flow&.menu&.name.nil? ? Task.find(9).flow&.work_flow&.menu&.name : Task.find(9).flow&.menu&.name) + "|" + task.flow&.name) %></td>
                <td class="col-md-3">
                  <% case task.flow&.menu_id.nil? ? task.flow&.work_flow&.menu_id : task.flow&.menu_id %>
                  <% when Menu.where(source: '/refunds')[0][:id] %>
                      <%= link_to '追踪', refunds_path('q[car_car_no_cont]': Refund.where(flow_id: task.flow&.id)[0]&.car&.car_no, 'q[id_eq]': Refund.where(flow_id: task.flow&.id)[0]&.id) %>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
        <% if @passed_tasks %>
            <div class="home-task-paginate">
              <%= paginate @passed_tasks %>
            </div>
        <% end %>
    <% end %>
  </div>
  <div class="col-md-3 home-task">
    <section style="margin-top: 20px;">
      <div class="weather-bg">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa <%= @wether.images_info %>">
              </i>
              杭州
            </div>
            <div class="col-xs-6">
              <div class="degree">
                <%= @wether.temperature %>°
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="weather-category">
        <ul style="border-bottom: 1px solid #e6e6e6;">
          <li class="active">
            <h5>
              天气
            </h5>
            <%= @wether.txt %>
          </li>
          <li>
            <h5>
              风向
            </h5>
            <%= @wether.wind_dir %>
          </li>
        </ul>
        <ul style="margin-top: 10px;">
          <li class="active">
            <h5>
              湿度
            </h5>
            <%= @wether.humidity %>%
          </li>
          <li>
            <h5>
              风速
            </h5>
            <%= @wether.wind %> kmph
          </li>
        </ul>
      </footer>
      <!-- END  FOOTER -->
    </section>
  </div>
  <div id="home_user_chart" class="col-md-3">
    <%= high_chart("home_user_chart", @users_chart) %>
  </div>
  <div id="home_car_chart" class="col-md-3">
    <%= high_chart("home_car_chart", @cars_chart) %>
  </div>
</div>