<%= bootstrap_form_for(@company, layout: :horizontal, :html => { class: 'pjax-form' }) do |f| %>
    <%= f.text_field :name, label: "公司名称", help: '必填' %>
    <%= f.text_field :addr, label: "地址", help: '必填' %>
    <%= f.text_field :phone, label: "电话", help: '必填' %>
    <%= f.text_field :contact_name, label: "联系人姓名", help: '必填' %>
    <%= f.text_field :contact_phone, label: "联系人手机", help: '必填' %>
    <%= f.text_field :sort_name, label: "简称", help: '必填' %>
    <div class="form-group text-center">
      <%= link_to '取消', companies_path, :class => 'btn btn-default' %>
      <%= f.submit "保存", class: "btn meedesidy_btn_save" %>
    </div>
<% end %>