<% provide(:title, '公司信息') %>
<div class="panel col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <h5 class="page-header">查询条件</h5>
  <div class="dataTables_wrapper form-inline">
    <div>
    <% model = Qwer::Tmodel.new('companies', @q ,10, 1) %>
    <%= model.table_seach({ col_num: 3,
                            method: 'get',
                            new: '/companies/new'
                          }, {
                            'q[name_cont]': '名称',
                            'q[sort_name_cont]': '简称',
                            'q[status_eq]': { name: '状态', type: 'select', data: [ "all", { k: '1', v: '正常' }, { k: 0, v: '删除' } ] },
                            'q[phone_cont]': '电话',
                            'q[id_eq]': 'ID',
                            'q[created_at_gteq]': { name: '创建开始时间', css: 'datepicker' }, # data / data_time
                            'q[created_at_lteq]': { name: '创建截止时间', css: 'datepicker' }
                          }) %>
    </div>
  </div>
  <h3>公司列表
    <% if flash[:company_notice] %>
        <div class="text-center"><span class="label label-info"><%= flash[:company_notice] %></span></div>
    <% end %>
  </h3>
  <div class="table-responsive">
    <%= model.table_data({name: '公司名称',
                         sort_name: '简称',
                         contact_name: '联系人',
                         status_i18n: '状态',
                         phone: '电话'
                        }, {
                          edit: {name: '编辑', css: 'label label-success'},
                          del: {name: '删除', css: 'label label-danger'},
                          business: '<a class="label label-success" data-confirm="我的id是??" href="/companies/??/edit">其他</a>'
                        }, @companies ) %>
    共<%= @companies.total_count %>条 <%= @companies.total_pages %>页 <%= paginate @companies %>
  </div>
</div>