<style type="text/css">
  svg {
    margin: 0;
    pading: 0;
    text-align: left;
    font-family: Arial, sans-serif, Helvetica, Tahoma;
    font-size: 12px;
    line-height: 1.5;
    color: black;
    background-image: url(<%= image_url "bg.png" %>);
  }

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px;
    border-top: 1px solid #eee;
  }


  .mover {
    border: 1px solid #ddd;
    background-color: #ddd;
  }

  .selected {
    background-color: #ddd;
  }

  .state {

  }

  #myflow_props table {

  }

  #myflow_props th {
    letter-spacing: 2px;
    text-align: left;
    padding: 6px;
    background: #ddd;
  }

  #myflow_props td {
    background: #fff;
    padding: 6px;
  }

  #pointer {
    background-repeat: no-repeat;
    background-position: center;
  }

  #path {
    background-repeat: no-repeat;
    background-position: center;
  }

  #task {
    background-repeat: no-repeat;
    background-position: center;
  }

  #state {
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
<script type="text/javascript">
  $(function() {
    $('#myflow').myflow(
            {
              basePath : "/",
              <% if @work_flow.content %>
                restore : eval("(" + "<%= @work_flow.content %>".replace(/&#39;/g, '\'') + ")"),
              <% end %>
              tools : {
                save : {
                  onclick : function(data) {
                    console.log(data);
                      $("#work_flow_content").val(data);
                      $("#qrCodeModal").modal('show');
                  }
                }
              }
            });

  });
</script>

<div id="myflow_tools"
     style="position: absolute; top:80px; left: 10px; background-color: #fff  !important; width: 70px; cursor: default; padding: 3px;"
     class="ui-widget-content">
  <div id="myflow_tools_handle" style="text-align: center;"
       class="ui-widget-header">工具集</div>

  <div class="node" id="myflow_save"><%= image_tag "save.gif" %>&nbsp;&nbsp;保存</div>
  <div>
    <hr />
  </div>
  <div class="node selectable" id="pointer"><%= image_tag "select16.gif" %>&nbsp;&nbsp;选择</div>
  <div class="node selectable" id="path"><%= image_tag "16/flow_sequence.png" %>&nbsp;&nbsp;转换</div>
  <div>
    <hr />
  </div>
  <div class="node state" id="start" type="start"><%= image_tag "16/start_event_empty.png" %>&nbsp;&nbsp;开始</div>
  <div class="node state" id="state" type="state"><%= image_tag "16/task_empty.png" %>&nbsp;&nbsp;状态</div>
  <div class="node state" id="task" type="task"><%= image_tag "16/task_empty.png" %>&nbsp;&nbsp;任务</div>
  <div class="node state" id="fork" type="fork"><%= image_tag "16/gateway_parallel.png" %>&nbsp;&nbsp;分支</div>
  <div class="node state" id="join" type="join"><%= image_tag "16/gateway_parallel.png" %>&nbsp;&nbsp;合并</div>
  <div class="node state" id="end" type="end"><%= image_tag "16/end_event_terminate.png" %>&nbsp;&nbsp;结束</div>
  <div class="node state" id="end-cancel" type="end-cancel"><%= image_tag "16/end_event_cancel.png" %>&nbsp;&nbsp;取消</div>
  <div class="node state" id="end-error" type="end-error"><%= image_tag "16/end_event_error.png" %>&nbsp;&nbsp;错误</div>
</div>

<div id="myflow_props"
     style="position: absolute; top: 30px; right: 50px; background-color: #fff; width: 220px; padding: 3px;"
     class="ui-widget-content">
  <div id="myflow_props_handle" class="ui-widget-header">属性</div>
  <table border="1" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td>aaa</td>
    </tr>
    <tr>
      <td>aaa</td>
    </tr>
  </table>
  <div>&nbsp;</div>
</div>

<div id="myflow"></div>

<div class='modal fade' id='qrCodeModal' tabindex='-1' role='dialog' aria-labelledby='qrCodeModal' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content' align='center'>
      <div class='modal-header meedesidy_bg_1'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title' id='qrCodeLabel'>请给定流程名称</h4>
      </div>
      <div class='modal-body' id='qr_modal_div'>
      </div>
      <%= bootstrap_form_for(@work_flow, layout: :horizontal, :html => { class: 'pjax-form', id: 'work_flow_form' }) do |f| %>
          <%= f.hidden_field :content, label: '流程内容', help: '必填' %>
          <%=f.text_field :name, label: '流程名称' %>
          <%=f.select :menu_id, formtables, label: '所属模块' %>
      <% end %>
      <div class='modal-footer meedesidy_bg_2'>
        <button type='button' class='btn btn-default' data-dismiss='modal' id='comfirm_btn'>确认</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $("#comfirm_btn").click(function () {
      $("#work_flow_form").submit();
    })
  })
</script>