<% provide(:title, '车辆信息') %>
<div class="panel col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <h5 class="page-header">查询条件</h5>
  <div class="dataTables_wrapper form-inline">
    <div>
      <% model = Qwer::Tmodel.new('cars', @q ,10, 1) %>

      <%= model.table_seach({},{'q[car_no_cont]': '车牌号','q[vin_cont]': '车架号'}) %>
    </div>
  </div>
  <h3 class="sub-header">车辆列表
    <% if flash[:notice] %>
        <div class="notice text-center"><span class="label label-info"><%= flash[:notice] %></span></div>
    <% end %>
  </h3>
  <div class="table-responsive">
    <%= model.table_data({car_no: '车牌号',
                          vin: '车架号',
                          color: '颜色'},
                         {edit: {name: '编辑', css: 'label label-success'},
                          del: {name: '删除', css: 'label label-danger'}
                         },@cars) %>
    共<%= @cars.total_count %>条 <%= @cars.total_pages %>页 <%= paginate @cars %>
  </div>
</div>