<%= bootstrap_form_for(@icon, layout: :horizontal, :html => { class: 'pjax-form' }) do |f| %>
    <%= f.text_field :name, label: "图标名称", help: '必填' %>
    <%= f.text_field :code, label: "CODE", help: "必填"%>
    <div class="form-group text-center">
      <%= link_to '取消', icons_path, :class => 'btn btn-default' %>
      <%= f.submit "保存", class: "btn btn-primary" %>
    </div>
<% end %>