<header class="header white-bg">
  <div class="sidebar-toggle-box">
    <div  data-placement="right" class="fa fa-bars tooltips">
    </div>
  </div>
  <%= link_to "Meedesidy", home_index_path, class: "logo" %>
  <div class="top-nav ">
    <ul class="nav pull-right" style="margin-top: 10px;">
      <% if current_user %>
          <%= link_to('退出', destroy_user_session_path, :method => :delete,'data-skip-pjax' => true) %> |       <%= link_to('修改密码', edit_registration_path(:user)) %>     <% else %>       <%= link_to('注册', new_registration_path(:user)) %> |       <%= link_to('登录', new_session_path(:user)) %>
      <% end %>
    </ul>
  </div>
</header>