<div id="sidebar" class="nav-collapse">
  <ul class="sidebar-menu" id="left_menu">
    <li>
      <a href="/home/index" class="">
        <i class="fa fa-dashboard">
        </i>
        <span>首页</span>
      </a>
    </li>
    <% load_menus('one_level', nil).each do |menu| %>
      <li class='sub-menu dcjq-parent-li'>
        <a href='javascript:;' class='dcjq-parent-menu'>
          <i class='fa <%= menu.icon&.code %>'></i>
          <span><%= menu.name %></span>
          <span class='dcjq-icon'></span></a>
          <ul class='sub menu-sub' style='overflow: hidden; display: none;' id='sub_menu_<%= menu.id %>'>
            <% load_menus('two_level',menu.id).each do |menu_link| %>
                <li style="background-color: #424242">
                  <% if menu_link.source == "/#{current_url}" %>
                    <a href='<%= menu_link.source %>' class="sub_active" style="color: #428bca;"><%= menu_link.name %></a>
                  <% else %>
                    <a href='<%= menu_link.source %>'><%= menu_link.name %></a>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </a>
      </li>
    <% end %>
  </ul>
</div>
<script>
  $(function () {
    $(".sub_active").parents('ul').slideDown();
  });

</script>