<!DOCTYPE html>
<html>
<head>
  <title>Meedesidy</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Olive Enterprise">
  <%= csrf_meta_tags %>
</head>
<body style="background-color: white; overflow: hidden;">
<section>
  <div class="header_div">
    <%= render 'layouts/head' %>
  </div>
  <div class="lefter">
    <%= render 'layouts/left' %>
  </div>
  <section id="main-content" data-pjax-container>
    <div class="contents_div" style="overflow:auto;">
      <%= yield %>
    </div>
  </section>
  <footer class="site-footer">
    <%= render 'layouts/foot' %>
  </footer>
</section>
<script >
  $(".knob").knob();

  $(function(){
    init_html();
  });
</script>
</body>
</html>

